<div id="copyCT{{container_name}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="copyCTLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <form method="get" action="{{ url_for('containers.action') }}">
        <div class="modal-header">
            <h3 id="copyCTLabel">{% if container_name %}Copy {{container_name}}{% else %}Choose container to copy{% endif %}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input type="hidden" name="action" value="copy" />
                {% if container_name %}
                    <input type="hidden" name="name" value="{{container_name}}" />
                {% else %}
                <select class="form-control form-control-lg" id="selectContainer" name="name">
                    {% for c in clonable_containers %}
                        <option value="{{c}}">{{c}}</option>
                    {% endfor %}
                </select>
                {% endif %}
                <input class="form-control form-control-lg" id="inputName" type="text" pattern="^\w[\w.-]+$" placeholder="Copy name" name="new_name">
            </div>
        </div>

        <div class="modal-footer">
            <div class="buttons-modal-footer">
                {% include 'includes/modal_cancel_btn.html' %}
                <button type="submit" class="btn btn-primary modalbutton">Copy</button>
            </div>
            {% include 'includes/spinner.html' %}
        </div>
    </form>
    </div>
    </div>
</div>
