include *.rst
recursive-include pantry LICENSE version
recursive-include pantry/static *
recursive-include pantry/templates *
recursive-include pantry/*/templates *
recursive-include pantry/*/static *
