flask
jinja2
cryptography
PyOpenSSL
peewee
requests
marshmallow
configobj
distro
git+https://github.com/lxc/python3-lxc.git
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
