flask
jinja2
cryptography
PyOpenSSL
peewee
requests
marshmallow
configobj
distro
git+https://github.com/lxc/python3-lxc.git
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
