<form method='post'>
    <div class="card-deck">
    {% for container in containers %}
          <div class="card mb-3">
              {#
            <img class="card-img-top" src="..." alt="Card image cap">
                  #}
            <div class="card-body">
                <h3 class="card-title form-group">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="check{{container.name}}" name="container" value="{{container.name}}" type="checkbox">
                        <label class="custom-control-label" for="check{{container.name}}">{{container.name}}</label>
                    </div>
                </h3>
                <p class="card-text">
                    {{container.os_release.PRETTY_NAME}} {{container['settings']['arch']}}
                </p>
                {#
                <p class="card-text">
                    {% for arch in template.archs %}
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="arch" value="{{arch}}"/>
                        <label class="form-check-label">&nbsp;{{arch}}</label>
                        </div>
                    {% endfor %}
                </p>
                <p class="card-text">
                        
                        {% for release in template.releases %}
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" type="check" name="release" value="{{release}}"/>
                        <label class="form-check-label">&nbsp;{{release}}</label>
                        </div>
                        {% endfor %}
                    <small class="text-muted"></small>
                </p>
                #}
            </div>
          </div>
        {% if loop.index is divisibleby(3) %}
        </div><div class="card-deck">
        {% endif %}
    {% endfor %}
    </div>
</form>
