{% extends 'layout.html' %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class="col-lg-12">
{{ super() }}
<div class="card card-border-secondary" style="margin-top:60px">
    <div class="card-header">
        <a class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#createCT">
             Create project
        </a>
        <h2>Projects</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th style="text-align:right;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
                <tr>
                    <td style="width:55%">
                        <a href="{{ url_for('projects.details', id=project.id) }}" title="Click {{project.id}} details">
                            <h4>
                                #{{project.id}} {{project.title}}
                                
                            </h4>
                            <p>
                                {{project.description}}
                            </p>
                        </a>
                    </td>
                    <td></td>
                </tr>            
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
