{% extends "layout.html" %}
{% block title %}Config{% endblock %}
{% block content %}
{% if cfg %}
{{ super() }}
{% include 'includes/checkconfig_table.html' %}
{% else %}
<div class="alert alert-error alert-block dont-hide span6" id="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Error!</h4>
    <p><strong>Install kernel headers and try again...</strong><small class="pull-right"><code>apt-get install linux-headers-$(uname -r)</code></small></p>
</div>
{% endif %}


{% endblock %}
