{% set td = {'RUNNING':'success','frozen':'info','stopped':'important'} %}
{% set tr = {'RUNNING':'success','frozen':'info','stopped':'error'} %}
{% set disabled = {'RUNNING':'success','FROZEN':'info','STOPPED':'important'} %}
{% extends "layout.html" %}
{% block title %}Containers{% endblock %}
{% block content %}
<div class="col-lg-12">
{{ super() }}
<div class="card card-border-secondary" style="margin-top:60px">
    <div class="card-header">
        <a class="btn btn-primary btn-lg float-right" href="{{ url_for('containers.create')}}">
             Create container
        </a>
        <h2>Containers</h2>
    </div>
    {% include 'table.html' %}

</div>

{#% if session.su == 'Yes' %}
    {% include "includes/modal_reboot.html" %}
    {% include "includes/modal_create.html" %}

    {% if containers|length > 0 %}
        {% include "includes/modal_clone.html" %}
        {% include "includes/modal_backup.html" %}
        {% include "includes/modal_destroy.html" %}
    {% endif %}
{% endif %#}

{% endblock %}

{% block script %}
<script type="text/javascript">
            // BROKEN REFRESH
            function refreshMemoryContainers(){
                $.getJSON('{{ url_for('containers.refresh_memory', name='containers') }}', function(data) {
                    data = data.data;
                    for (i in data) {
                        var el = $('#'+data[i].name+' span');
                        if (data[i]['runtime.memory.usage_in_bytes'] == '') {
                            el.text(data[i]['runtime.memory.usage_in_bytes'] + ' MB');
                        } else {
                            el.text(data[i]['runtime.memory.usage_in_bytes'] + " / " + data[i].settings.memlimit + ' MB');
                        }
                        el[0].className = el[0].className.replace(/label\-(success|warning|danger)/g,'badge-'+memory_color(data[i].memusg, data[i].settings.memlimit));
                    }
                });

                $('#home-load').fadeOut();
            }

            function memory_color(value, total){
                if(total == '') {
                    if(value != 0)
                        if ('0' <= value && value <= '512')
                            return 'success';
                        else if ('512' <= value && value < '1024')
                            return 'warning';
                        else
                            return 'danger';
                }
                else {
                    value = value / total;
                    if (0 <= value && value <= 0.6)
                         return 'success';
                    else if (0.6 <= value && value < 0.8)
                        return 'warning';
                    else
                        return 'danger';
                }
            }

            //~ function refresh(){
                //~ $('#home-load').fadeIn();

                //~ $.getJSON('{{ url_for('main.refresh_info') }}', function(data) {
                    //~ $('#uptime').text(data.uptime.day +' day(s) '+ data.uptime.time).fadeIn();

                    //~ $('#cpu-usage').text(data.cpu +'%').fadeIn();
                    //~ $('#cpu-usage-bar').css({'width':data.cpu + '%'});

                    //~ $('#disk-usage').text(data.disk.used +' ('+ data.disk.free +' free)').fadeIn();
                    //~ $('#disk-usage-bar').css({'width':data.disk.percent});

                //~ });
            //~ }

            $(function() {
                refreshMemoryContainers();
                window.setInterval('refreshMemoryContainers()', 6000);
            });

            {% if session.su == 'Yes' %}$(document).ready(function(){

                $(".destroy").on('click',function(e){
                    console.log("clicked");
                    $(".destroy-link").attr('href',"{{url_for('containers.action', action='destroy') }}" + "&next={{request.path}}&name=" + $(this).data('container-name'));
                    $('.modal-body #destroy-container-name').text($(this).data('container-name'));
                    var container_id = '#destroyCT' + $(this).data('container-name');
                    console.log(container_id);
                    $(container_id).modal('show');
                });
                // Create CT
                $('#advancedcreate').click(function(e){ e.preventDefault(); $('#advancedcreatediv').slideToggle(); });

                // Copy CT
                $('#advancedcopy').click(function(e){ e.preventDefault(); $('#advancedcopydiv').slideToggle(); });

                $(".backingstore").on('change',function(){
                        var _val = $(this).val();
                        var _lvm = $(this).closest('.advanced-wrapper').find('.lvm');
                        var _zfs = $(this).closest('.advanced-wrapper').find('.zfs');
                        var _directory = $(this).closest('.advanced-wrapper').find('.directory');
                        if( _val == 'lvm'){
                            _lvm.removeClass("d-none");
                            _directory.addClass("d-none");
                            _zfs.addClass("d-none");
                        }
                        else if ( _val == 'directory' ){
                            _directory.removeClass("d-none");
                            _lvm.addClass("d-none");
                            _zfs.addClass("d-none");
                        }
                        else if ( _val == 'zfs'){
                            _zfs.removeClass("d-none");
                            _lvm.addClass("d-none");
                            _directory.addClass("d-none");
                        }
                        else{
                            _zfs.addClass("d-none");
                            _directory.addClass("d-none");
                            _lvm.addClass("d-none");
                        }
                    });

                    $('.modalbutton').on('click', function () {
                        $('.buttons-modal-footer').addClass("d-none");
                        $('.loader-modal-footer').removeClass("d-none");
                    })
            });{% endif %}
</script>

{% endblock %}
