{% extends "layout.html" %}
{% block title %}{{container|capitalize}}{% endblock %}
{% block content %}

{{ super() }}
{% set span = {'RUNNING':'success','FROZEN':'info','STOPPED':'important'} %}
{% set start_action = {'STOPPED':'start','FROZEN':'unfreeze'} %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="head">
                    {% if infos['status']== 'RUNNING' %}
                        <i class="fa fa-circle text-success" aria-hidden="true"></i>&nbsp;
                    {% elif infos['status'] == 'FROZEN' %}
                        <i class="fa fa-circle text-warning" aria-hidden="true"></i>&nbsp;
                    {% else %}
                        <i class="fa fa-circle-thin text-danger" aria-hidden="true"></i>&nbsp;
                    {% endif %}
                    {{container}} &bull; {{ settings.utsname }}
                &nbsp;{% if settings.ipv4  %}{{settings.ipv4}}{% endif %}
                {% if settings.flags == 'up' %}<span class="badge badge-success">Up</span>{% else %}<span class="badge badge-error">Down</span>{% endif %}
                
                <div class="pull-right">
                    {% if infos['status'] == 'RUNNING' %}
                    <span class="btn btn-link btn-block">{{ infos['status'] }}
                    {% else %}
                    
                    <a class="btn btn-block btn-primary{% if infos['status'] == 'RUNNING' %} disabled{% endif %}" {% if infos['status'] == 'STOPPED' or infos['status'] == 'FROZEN' %}href="{{ url_for('main.action', name=container, action=start_action[infos['status']], from='edit') }}"{% endif %}>
                        <i class="icon-play"></i> Start
                    </a>
                    {% endif %}
                    {% if infos.status != 'STOPPED' %}<span class="badge"><strong>Pid :</strong> {{ infos.pid }}</span>{% endif %}
                </div>
                </h3>
                
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-9">
                <ul class="nav nav-pills">
                    <li>
                        {% if settings.start_auto == '1' %}
                            <span class="btn btn-outline-primary">Start on boot
                            {{ settings.start_delay }} {{ settings.start_order }}
                            </span>
                        {% else %}
                            <span class="btn btn-outline-disabled">Start on boot</span>
                        {% endif %}
                    </li>
                    {% if infos.status == "STOPPED" %}
                        <li><a class="btn btn-outline-primary" data-toggle="modal" data-target="#copyCT{{container}}">Copy</a></li>
                    {% endif %}
                    {% if storage_repos %}
                        <li><a class="btn btn-outline-info" data-toggle="modal" data-target="#backupCT{{container}}">Create Backup</a></li>
                    {% endif %}
                </ul>
                <hr>
                <ul class="nav nav-pills">
                    <li class="text-center">
                        <h5>&nbsp;&nbsp;{{ settings.arch }}&nbsp;&nbsp;</h5>
                        Arch.
                    </li>
                    <li class="text-center">
                        <h5 id="{{ container }}">&nbsp;&nbsp;{% if infos.memusg %}{{ render_memory_wrapper(infos.memusg) }}/{% endif %}{% if settings.memlimit %}{{ settings.memlimit }}{% else %}{{ host_memory.total }}{% endif %}&nbsp;&nbsp;</h5>
                        Memory
                    </li>
                    <li class="text-center">
                        <h5>&nbsp;&nbsp;{% if settings.cpus %}{{ settings.cpus }}{% else %}All{% endif %}&nbsp;&nbsp;</h5>
                        CPU
                    </li>
                    <li class="text-center">
                        <h5>&nbsp;&nbsp;{{ all_info.link }}&nbsp;&nbsp;</h5>
                        <i class="fa fa-long-arrow-down" aria-hidden="true"></i>{{all_info.rx_bytes}}/<i class="fa fa-long-arrow-up" aria-hidden="true"></i>{{all_info.tx_bytes}}
                    </li>
                    <li class="text-center">
                        <h5>&nbsp;&nbsp;{{ snapshots|length }}&nbsp;&nbsp;</h5>
                        Snapshots
                    </li>
                </ul>
                
            </div>
            <div class="col-lg-3">
                <div class="btn-toolbar">
                    <div class="btn-group">

                        <a class="btn btn-primary{% if infos['status'] == 'STOPPED' %} disabled{% endif %}" {% if infos['status'] == 'RUNNING' or infos['status'] == 'FROZEN' %}href="{{ url_for('main.action', name=container, action='stop', from='edit') }}"{% endif %}><i class="icon-stop"></i> Stop</a>
                        <a class="btn btn-primary{% if infos['status'] == 'FROZEN' or infos['status'] == 'STOPPED' %} disabled{% endif %}" {% if infos['status'] == 'RUNNING' %}href="{{ url_for('main.action', name=container, action='freeze', from='edit') }}"{% endif %}><i class="icon-pause"></i> Freeze</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <form id="config" class="form-horizontal" action="{{ url_for('main.edit', container=container) }}" method="post">
    <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="boot-tab" data-toggle="tab" href="#boot" role="tab" aria-controls="home" aria-selected="true">Boot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="network-tab" data-toggle="tab" href="#network" role="tab" aria-controls="network" aria-selected="false">Network</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="resources-tab" data-toggle="tab" href="#resources" role="tab" aria-controls="resources" aria-selected="false">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="logging-tab" data-toggle="tab" href="#logging" role="tab" aria-controls="logging" aria-selected="false">Logging</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="snapshots-tab" data-toggle="tab" href="#snapshots" role="tab" aria-controls="snapshots" aria-selected="false">Snapshots</a>
      </li>
      {#
      <li class="nav-item">
        <a class="nav-link" id="misc-tab" data-toggle="tab" href="#misc" role="tab" aria-controls="misc" aria-selected="false">Misc</a>
      </li>
      #}
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="boot" role="tabpanel" aria-labelledby="boot-tab">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="utsname">Hostname</label>
                        <input class="form-control" pattern="{{ regex.utsname }}" type="text" id="utsname" name="utsname" value="{{ settings.utsname }}">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="start_auto" name="start_auto" value="{{ settings.start_auto }}" {% if settings.start_auto == '1' %} checked{% endif %}/>
                        <label  class="form-check-label" for="start_auto">Start at boot</label>
                    </div>
                    <div class="form-group">
                        <label for="start_delay">Delay at boot time</label>
                        <input class="form-control" pattern="{{ regex.start_delay }}" type="number" id="start_delay" name="start_delay" value="{{ settings.start_delay }}" placeholder="Undefined">
                    </div>
                    <div class="form-group">
                        <label for="start_order">Start order</label>
                        <input class="form-control" pattern="{{ regex.start_order }}" type="number" id="start_order" name="start_order" value="{{ settings.start_order }}" placeholder="Undefined">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="network" role="tabpanel" aria-labelledby="network-tab">
            <div class="card">
                <div class="card-body">
                <div class="form-check switch-network-flags">
                    <input type="checkbox" class="form-check-input" id="flags" name="flags" value="{{ settings.flags }}"{% if settings.flags == 'up' %} checked{% endif %}/>
                    <label class="form-check-label" for="flags">Network flag</label>
                </div>
                <div id="network"{% if not settings.flags %} class="hide"{% endif %}>
                </div>
                <div class="form-group">
                    <label for="type">Network type</label>
                    <select class="form-control" pattern="{{ regex.type }}" type="text" id="type" name="type" value="{{ settings.type }}">
                        <option value="empty" {% if settings.type == "empty" %}selected{% endif %}>empty</option>
                        <option value="veth" {% if settings.type == "veth" %}selected{% endif %}>veth</option>
                        <option value="vlan" {% if settings.type == "vlan" %}selected{% endif %}>vlan</option>
                        <option value="macvlan" {% if settings.type == "macvlan" %}selected{% endif %}>macvlan</option>
                        <option value="phys" {% if settings.type == "phys" %}selected{% endif %}>phys</option>top
                    </select>
                </div>

                <div class="form-group">
                    <label for="link">Network link</label>
                    <input class="form-control" pattern="{{ regex.link }}" type="text" id="link" name="link" value="{{ settings.link }}" placeholder="Undefined">
                </div>

                <div class="form-group">
                    <label for="hwaddr">HW address</label>
                    <input class="form-control" pattern="{{ regex.hwaddr }}" type="text" id="hwaddr" name="hwaddr" value="{{ settings.hwaddr }}" placeholder="Undefined">
                </div>

                <div class="form-group">
                    <label for="ipv4">IPv4 address</label>
                    <input class="form-control" pattern="{{ regex.ipv4 }}" type="text" id="ipv4" name="ipv4" value="{{ settings.ipv4 }}" placeholder="Undefined">
                </div>
                <div class="form-group">
                    <label for="ipv4gw">IPv4 gateway</label>
                    <input class="form-control" pattern="{{ regex.ipv4gw }}" type="text" id="ipv4gw" name="ipv4gw" value="{{ settings.ipv4gw }}" placeholder="Undefined">
                </div>

                <div class="form-group">
                    <label for="ipv6">IPv6 address</label>
                    <input class="form-control" pattern="{{ regex.ipv6 }}" type="text" id="ipv6" name="ipv6" value="{{ settings.ipv6 }}" placeholder="Undefined">
                </div>

                <div class="form-group">
                    <label for="ipv6gw">IPv6 gateway</label>
                    <input class="form-control" pattern="{{ regex.ipv6gw }}" type="text" id="ipv6gw" name="ipv6gw" value="{{ settings.ipv6gw }}" placeholder="Undefined">
                </div>

                <div class="form-group">
                    <label for="script_up">Network script up</label>
                    <input class="form-control" pattern="{{ regex.script_up }}" type="text" id="script_up" name="script_up" value="{{ settings.script_up }}">
                </div>

                <div class="form-group">
                    <label for="script_down">Network script down</label>
                    <input class="form-control" pattern="{{ regex.script_down }}" type="text" id="script_down" name="script_down" value="{{ settings.script_down }}">
                </div>
            </div>
            </div>
        </div>
        <div class="tab-pane fade" id="resources" role="tabpanel" aria-labelledby="resources-tab">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="memlimit">Memory limit *</label>
                        <input class="form-control fix-height" pattern="[0-9]+" type="range" id="memlimit" name="memlimit" min="16" max="{{ host_memory.total }}" value="{% if settings.memlimit %}{{ settings.memlimit }}{% else %}{{ host_memory.total }}{% endif %}" onChange="updateMemInput('inputMemlimit', this.value, {{ host_memory.total }});">
                        <label><input pattern="[0-9]+" class="input-mini{% if not settings.memlimit %} hide{% endif %} form-control" id="inputMemlimit" type="number" min="16" max="{{ host_memory.total }}" value="{% if settings.memlimit %}{{ settings.memlimit }}{% endif %}" onChange="updateMemSlider('memlimit', this.value);"><span class="help-inline fix-height">{% if settings.memlimit %}MB{% else %}Unlimited{% endif %}</span></label>
                    </div>
                    <div class="form-group">
                        <label for="sliderSwlimit">Memory + Swap limit *</label>
                        <input class="form-control fix-height" pattern="[0-9]+" type="range" id="sliderSwlimit" name="swlimit" min="32" max="{{ host_memory.total * 2 }}" value="{% if settings.swlimit %}{{ settings.swlimit }}{% else %}{{ host_memory.total * 2 }}{% endif %}" onChange="updateMemInput('inputSwlimit', this.value, {{ host_memory.total * 2 }});">
                        <label><input pattern="[0-9]+" class="input-mini{% if not settings.swlimit %} hide{% endif %} form-control" id="inputSwlimit" type="number" min="32" max="{{ host_memory.total *2 }}" value="{% if settings.swlimit %}{{ settings.swlimit }}{% endif %}" onChange="updateMemSlider('sliderSwlimit', this.value);"><span class="help-inline fix-height">{% if settings.swlimit %}MB{% else %}Unlimited{% endif %}</span></label>
                    </div>
                    <div class="form-group">
                        <label for="inputCPUs">CPUs **</label>
                        <input class="form-control" pattern="{{ regex.cpus }}" type="text" id="inputCPUs" name="cpus" value="{{ settings.cpus }}" placeholder="All">
                        <span class="help-inline"><small>(e.g 0 or 0-1,3 or 0,3)</small></span>
                    </div>
                    <div class="form-group">
                        <label for="inputCPUShares">CPU Shares **</label>
                        <input class="form-control" pattern="{{ regex.shares }}" type="number" id="inputCPUShares" name="shares" min="16" step="2" value="{{ settings.shares }}" placeholder="1024">
                    </div>
                    <div class="form-group">
                        <label for="inputRootfs">Root FS</label>
                        <input class="form-control" pattern="{{ regex.rootfs }}" type="text" id="inputRootfs" name="rootfs" value="{{ settings.rootfs }}">
                        <span class="help-inline"><small>(e.g /var/lib/lxc/{{container}}/rootfs)</small></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="logging" role="tabpanel" aria-labelledby="logging-tab">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="loglevel">Log level</label>
                        <select class="form-control" type="text" id="loglevel" name="loglevel" value="{{ settings.loglevel }}">
                            <option value="0">trace</option>
                            <option value="1">debug</option>
                            <option value="2">info</option>
                            <option value="3">notice</option>
                            <option value="4">warn</option>
                            <option value="5">error</option>
                            <option value="6">critical</option>
                            <option value="7">alert</option>
                            <option value="8">fatal</option>
                        </select>
                        <span class="help-inline"><small>Default log level: 5 - error</small></span>
                    </div>
                    <div class="form-group">
                        <label for="logfile">Log file</label>
                        <input class="form-control" type="text" pattern="{{ regex.logfile }}" id="logfile" name="logfile" value="{{ settings.logfile }}">
                        <span class="help-inline"><small></small></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="snapshots" role="tabpanel" aria-labelledby="snapshots-tab">
            <div class="card">
                <div class="card-body">
                    <input id="name-{{ container }}" name="name" value="{{ container }}" type="hidden">
                    <button class="btn btn-outline-danger" ic-replace-target="true" ic-include="#name-{{ container }}" ic-target="#snapshots-table" ic-post-to="{{ url_for('main.snapshot_container') }}">Create snapshot</button>
                    {% include 'snapshots.html' %}
                </div>
            </div>
        </div>
        {#
        <div class="tab-pane fade" id="misc" role="tabpanel" aria-labelledby="misc-tab">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="bucket">Bucket token</label>
                        <input class="form-control" pattern="[a-zA-Z0-9_/\-]{32}" type="text" id="bucket" name="bucket" value="{{ settings.bucket }}">
                        <span class="help-inline"><small>md5 like token of the backup bucket</small></span>
                    </div>
                </div>
            </div>
        </div>
        #}
    </div>

    <p class="text-right">
       <button class="btn btn-primary btn-lg" name="submit" value="apply"><i class="icon-ok icon-white"></i> Apply</button>
    </p>

    <p class="muted"><small>* Set to max to unset (unlimited)<br />** Leave empty to unset</small></p>
</form>

{% with container_name=container %}
{% include "includes/modal_clone.html" %}
{% include "includes/modal_backup.html" %}
{% endwith %}
{% endblock %}

{% macro memory_color(value) -%}{% if value != 0 %}{% if 0 <= value <= 511 %}success{% elif 512 <= value < 980 %}warning{% else %}important{% endif %}{% endif %}{%- endmacro %}
{% macro render_memory_wrapper(value) -%}
{% if value != 0 %}<span class="label label-{{ memory_color(value) }}">{{ value }} MB</span>{% endif %}
{%- endmacro %}

{% block script %}
<script type="text/javascript">
        {% if infos['status'] != 'STOPPED' %}
            function memory_color(value){
                if(value != 0)
                    if ('0' <= value && value <= '512') return 'success';
                    else if ('512' <= value && value < '1024') return 'warning';
                    else return 'important';
            }

            function refreshMemory(container){
                $.getJSON('{{ url_for('main.refresh_memory_containers', name='CONTAINER') }}'.replace("CONTAINER", container), function(data) {
                    var el = $('#'+container+' span');
                    el.text(data.memusg+' MB');
                    el[0].className = el[0].className.replace(/label\-(success|warning|important)/g,'label-'+memory_color(data.memusg));
                });
            }

            window.setInterval('refreshMemory("{{ container }}")', 5000);
        {% endif %}

        // Network flags
        var network = $("#network");
        $(".switch-network-flags").on('switch-change', function(e, data){
            if(data.value){
                $(data.el).val('up');
                network.delay(350).slideDown();
            }
            else{
                $(data.el).val('down');
                network.delay(350).slideUp();
            }
        });

        function updateMemInput(elem, value, mem_total){
            // called to update the inputText value when slider onChange
            if (value < mem_total) {
                $('#' + elem).val(value).show().next('.help-inline').text('MB');
            }
            else {
                $('#' + elem).val(mem_total).hide().next('.help-inline').text('Unlimited');
            }
        };

        function updateMemSlider(elem, value){
            // called to update the slider value when inputText changes
            $('#' + elem).val(value);
        };
    </script>
{% endblock %}
