{% extends "layout.html" %}
{% block title %}{{container.name|capitalize}}{% endblock %}
{% block content %}

{#% set span = {'RUNNING':'success','FROZEN':'info','STOPPED':'important'} %#}
{% set start_action = {'STOPPED':'start','FROZEN':'unfreeze'} %}
    <div class="col-lg-8">
        {{ super() }}
        <h3 class="head">
            {% if container.state== 'RUNNING' %}
                <i class="fas fa-circle text-success" aria-hidden="true"></i>&nbsp;
            {% elif container.state == 'FROZEN' %}
                <i class="fas fa-circle text-warning" aria-hidden="true"></i>&nbsp;
            {% else %}
                <i class="fas fa-circle text-danger" aria-hidden="true"></i>&nbsp;
            {% endif %}
            {{container.name}} &bull; {{container.settings.utsname }}
        </h3>

    </div>
    <div class="col-lg-4">
        <div class="text-right">
            <div class="btn-toolbar">
                <div class="btn-group">
                    {% if container.state != 'STOPPED' %}
                        
                        <span class="btn btn-link"><strong>Pid :</strong> {{ container.pid }}</span>
                    {% endif %}
                    
                    {% if container.state == 'RUNNING' %}
                        <span class="btn btn-link">{{ container.state }}</span>
                    {% else %}
                        <a id="start-container" class="btn btn-primary" ic-select-from-response="#main-content" ic-replace-target="false" ic-target="#main-content" {% if container.state == 'STOPPED' or container.state == 'FROZEN' %}ic-get-from="{{ url_for('containers.action', name=container.name, action=start_action[container.state], from='edit') }}"{% endif %}>
                        Start<i class="fa fa-spinner fa-spin ic-indicator" style="display:none"></i>
                        </a>
                    {% endif %}
                    
                    <a ic-select-from-response="#main-content" ic-replace-target="false" ic-target="#main-content"  class="btn btn-primary{% if container.state == 'STOPPED' %} disabled{% endif %}" {% if container.state == 'RUNNING' or container.state == 'FROZEN' %}ic-get-from="{{ url_for('containers.action', name=container.name, action='stop', from='edit') }}"{% endif %}>
                        Stop <i class="fa fa-spinner fa-spin ic-indicator" style="display:none"></i>
                    </a>
                    <a ic-select-from-response="#main-content" ic-replace-target="false" ic-target="#main-content"  class="btn btn-primary{% if container.state == 'FROZEN' or container.state == 'STOPPED' %} disabled{% endif %}" {% if container.state == 'RUNNING' %}ic-get-from="{{ url_for('containers.action', name=container.name, action='freeze', from='edit') }}"{% endif %}>
                        Freeze <i class="fa fa-spinner fa-spin ic-indicator" style="display:none"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p style="padding-left:3em">
            {{container.ips}}
            {{container.interfaces}}
            {% for network in container.settings.networks.values() %}
                {% if network.ipv4|length > 0 %}
                        / IPv4 {% for ip in network.ipv4 %}{{ip}}{% endfor %}
                        {% if network.flags == 'up' %}
                {% endif %}
                <i class="fas fa-circle text-success" aria-hidden="true"></i>{% else %}<i class="fas fa-circle text-muted" aria-hidden="true"></i>{% endif %}
            {% endfor %}

           / CPU {% if container['settings']['cgroup.cpuset.cpus'] %}{{ container['settings']['cgroup.cpuset.cpus'] [0]}}{% else %}All{% endif %}
           / Memory <span id="{{ container.name }}">{% if container['runtime']['memory.usage_in_bytes'] %}{{ render_memory_wrapper(container['runtime']['memory.usage_in_bytes']) }}/{% endif %}{% if container['settings']['cgroup.memory.limit_in_bytes'] %}{{ container['settings']['cgroup.memory.limit_in_bytes'][0] }}{% else %}{{ host.memory.total }}{% endif %}&nbsp;&nbsp;</span>
            / OS {{container.os_release.PRETTY_NAME}} / Arch.{{container.settings.arch}}
            
        </p>
    </div>
</div><!-- end main col -->

<div class="row" style="margin-top:2em;">
<div class="col-lg-2">
    <ul class="nav flex-column nav-pills" id="containerTabs" role="tablist" aria-orientation="vertical">
      <li class="nav-item">
        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="boot-tab" data-toggle="tab" href="#boot" role="tab" aria-controls="boot" aria-selected="true">Boot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="network-tab" data-toggle="tab" href="#network" role="tab" aria-controls="network" aria-selected="false">Network</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="resources-tab" data-toggle="tab" href="#resources" role="tab" aria-controls="resources" aria-selected="false">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="logging-tab" data-toggle="tab" href="#logging" role="tab" aria-controls="logging" aria-selected="false">Logging</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="snapshots-tab" data-toggle="tab" href="#snapshots" role="tab" aria-controls="snapshots" aria-selected="false">Snapshots</a>
      </li>
      {#
      <li class="nav-item">
        <a class="nav-link" id="misc-tab" data-toggle="tab" href="#misc" role="tab" aria-controls="misc" aria-selected="false">Misc</a>
      </li>
      #}
    </ul>
</div>
<div class="col-lg-10">
    <div class="tab-content" id="myTabContent">
        {#
            <form id="config" action="{{ url_for('containers.edit', container_name=container.name) }}" method="post">
        #}
        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
            <ul class="nav nav-pills">
                {% if container.state == "STOPPED" %}
                    <li><a class="btn btn-outline-primary" data-toggle="modal" data-target="#copyCT{{container.name}}">Copy</a></li>
                {% endif %}
                {% if storage_repository %}
                    <li><a class="btn btn-outline-info" data-toggle="modal" data-target="#backupCT{{container.name}}">Create Backup</a></li>
                {% endif %}
                <li class="text-center">
                    <h5 id="{{container.name}}">&nbsp;&nbsp;{% if render_memory_wrapper(container['runtime']['memory.usage_in_bytes'])  %}{{ render_memory_wrapper(container['runtime']['memory.usage_in_bytes']) }}/{% endif %}{% if container['settings']['cgroup.memory.limit_in_bytes'] %}{{ container['settings']['cgroup.memory.limit_in_bytes'][0] }}{% else %}{{ host.memory.total }}{% endif %}&nbsp;&nbsp;</h5>
                    Memory
                </li>
                <li class="text-center">
                    <h5>&nbsp;&nbsp;{% if container['settings']['cgroup.cpuset.cpus']  %}{{ container['settings']['cgroup.cpuset.cpus'][0] }}{% else %}All{% endif %}&nbsp;&nbsp;</h5>
                    CPU
                </li>
                {#
                <li class="text-center">
                    <h5>&nbsp;&nbsp;{{ all_info.link }}&nbsp;&nbsp;</h5>
                    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>{{all_info.rx_bytes}}/<i class="fa fa-long-arrow-up" aria-hidden="true"></i>{{all_info.tx_bytes}}
                </li>
                    #}
                <li class="text-center">
                    <h5>&nbsp;&nbsp;{{ container.snapshots|length }}&nbsp;&nbsp;</h5>
                    Snapshots
                </li>
            </ul>
            <p>
                <dl class="row">
                    <dt class="col-sm-3">Start on boot</dt>
                    <dd class="col-sm-9">{% if container['settings']['start.auto'] == '1' %}Enabled{% else %}Disabled{% endif %}</dd>
                    <dt class="col-sm-3">Start order</dt>
                    <dd class="col-sm-9">{{ container['settings']['start.order'] }}</dd>
                    <dt class="col-sm-3">Start delay</dt>
                    <dd class="col-sm-9">{{ container['settings']['start.delay'] }}</dd>
                </dl>
            </p>
        </div>
        <div class="tab-pane fade show" id="boot" role="tabpanel" aria-labelledby="boot-tab">
            <div class="card">
                <form ic-post-to="{{ url_for('containers.edit', container_name=container.name) }}" ic-select-from-response="#main-content" ic-target="#main-content" ic-target-replace="true">
                <div class="card-body">
                    <div class="form-group">
                        <label for="utsname">Hostname</label>
                        <input class="form-control" pattern="{{ regex.utsname }}" type="text" id="utsname" name="utsname" value="{{ container.settings.utsname }}">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" data-toggle="toggle" type="checkbox" id="start.auto" name="start.auto" value="{{ container['settings']['start.auto'] }}" {% if container['settings']['start.auto'] == '1' %} checked{% endif %}/>
                        <label for="start.auto">Start at boot</label>
                        
                    </div>
                    <div class="form-group">
                        <label for="start.delay">Delay at boot time</label>
                        <input class="form-control" pattern="{{ regex['start.delay'] }}" type="number" id="start.delay" name="start.delay" value="{{ container['settings']['start.delay'] }}" placeholder="Undefined">
                    </div>
                    <div class="form-group">
                        <label for="start.order">Start order</label>
                        <input class="form-control" pattern="{{ regex['start.order'] }}" type="number" id="start.order" name="start.order" value="{{container['settings']['start.order']}}" placeholder="Undefined">
                    </div>
                </div>
                {% include 'includes/edit_apply_btn.html' %}
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="network" role="tabpanel" aria-labelledby="network-tab">
            <div class="card">
                <form ic-post-to="{{ url_for('containers.edit', container_name=container.name) }}" ic-select-from-response="#main-content" ic-target="#main-content" ic-target-replace="true">
                        <!--{% for network in container.settings.networks.values() %}
                                    {% for ip in network.ipv4 %}{{ip}}{% endfor %}-<br>
                                    {% for ip in network.ipv6 %}{{ip}}{% endfor %}-<br>
                                    {{network.flags}}<br>
                                    {{network.type}}<br>
                                    {{network.link}}<br>
                                    {{network.hwaddr}}<br>
                                    {{network.script_up}}<br>
                                    {{network.script_down}}<br>
                                    <hr>
                        {% endfor %} -->
                <div class="card-body">
                    {% for network in container.settings.networks.values() %}
                    <div class="form-check switch-network-flags">
                        <input type="checkbox" class="form-check-input" id="network.flags" name="network.flags" value="{{ network.flags }}"{% if network.flags == 'up' %} checked{% endif %}/>
                        <label class="form-check-label" for="network.flags">Network flag</label>
                    </div>
                    <div class="form-group">
                        <label for="network.type">Network type</label>
                        <select class="form-control" pattern="{{ regex.type }}" type="text" id="network.type" name="network.type" value="{{network.type}}">
                            <option value="empty" {% if network.type == "empty" %}selected{% endif %}>empty</option>
                            <option value="veth" {% if network.type == "veth" %}selected{% endif %}>veth</option>
                            <option value="vlan" {% if network.type == "vlan" %}selected{% endif %}>vlan</option>
                            <option value="macvlan" {% if network.type == "macvlan" %}selected{% endif %}>macvlan</option>
                            <option value="phys" {% if network.type == "phys" %}selected{% endif %}>phys</option>top
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="network.link">Network link</label>
                        <input class="form-control" pattern="{{ regex.link }}" type="text" id="network.link" name="network.link" value="{{ network.link }}" placeholder="Undefined">
                    </div>

                    <div class="form-group">
                        <label for="network.hwaddr">HW address</label>
                        <input class="form-control" pattern="{{ regex.hwaddr }}" type="text" id="network.hwaddr" name="network.hwaddr" value="{{ network.hwaddr }}" placeholder="Undefined">
                    </div>
    
                    <div class="form-group">
                        <label for="network.ipv4">IPv4 address</label>
                        <input class="form-control" pattern="{{ regex.ipv4 }}" type="text" id="network.ipv4" name="network.ipv4" value="{{ network.ipv4.0 }}" placeholder="Undefined">
                    </div>
                    
                    <div class="form-group">
                        <label for="network.ipv4gw">IPv4 gateway</label>
                        <input class="form-control" pattern="{{ regex.ipv4gw }}" type="text" id="network.ipv4gw" name="network.ipv4gw" value="{{ network.ipv4gw }}" placeholder="Undefined">
                    </div>

                    <div class="form-group">
                        <label for="network.ipv6">IPv6 address</label>
                        <input class="form-control" pattern="{{ regex.ipv6 }}" type="text" id="network.ipv6" name="network.ipv6" value="{{ network.ipv6.0}}" placeholder="Undefined">
                    </div>

                    <div class="form-group">
                        <label for="network.ipv6gw">IPv6 gateway</label>
                        <input class="form-control" pattern="{{ regex.ipv6gw }}" type="text" id="network.ipv6gw" name="network.ipv6gw" value="{{ network.ipv6gw }}" placeholder="Undefined">
                    </div>

                    <div class="form-group">
                        <label for="network.script_up">Network script up</label>
                        <input class="form-control" pattern="{{ regex.script_up }}" type="text" id="network.script_up" name="network.script_up" value="{{ network.script_up }}">
                    </div>

                    <div class="form-group">
                        <label for="network.script_down">Network script down</label>
                        <input class="form-control" pattern="{{ regex.script_down }}" type="text" id="network.script_down" name="network.script_down" value="{{ network.script_down }}">
                    </div>
                    {% endfor %}
                </div>
                {% include 'includes/edit_apply_btn.html' %}
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="resources" role="tabpanel" aria-labelledby="resources-tab">
            <div class="card">
                <form ic-post-to="{{ url_for('containers.edit', container_name=container.name) }}" ic-select-from-response="#main-content" ic-target="#main-content" ic-target-replace="true">
                <div class="card-body">
                    <div class="form-group">
                        <label for="memlimit">Memory limit *</label>
                        <input class="form-control fix-height" pattern="[0-9]+" type="range" id="memlimit" name="cgroup.memory.limit_in_bytes" min="16" max="{{ host.memory.total }}" value="{% if container['settings']['cgroup.memory.limit_in_bytes'] %}{{ container['settings']['cgroup.memory.limit_in_bytes'][0] }}{% else %}{{ host.memory.total }}{% endif %}" onChange="updateMemInput('inputMemlimit', this.value, {{ host.memory.total }});">
                        <label><input pattern="[0-9]+" class="input-mini{% if not container['runtime']['cgroup.memory.limit_in_bytes'] %} hide{% endif %} form-control" id="inputMemlimit" type="number" min="16" max="{{ host.memory.total }}" value="{% if container['settings']['cgroup.memory.limit_in_bytes'] %}{{ container['settings']['cgroup.memory.limit_in_bytes'][0] }}{% endif %}" onChange="updateMemSlider('memlimit', this.value);"><span class="help-inline fix-height">{% if container['settings']['cgroup.memory.limit_in_bytes'] %}MB{% else %}Unlimited{% endif %}</span></label>
                    </div>
                    {#
                        requires first check if system has cgroup_enable=memory swapaccount=1
                        https://serverfault.com/questions/790318/cannot-enable-cgroup-enable-memory-swapaccount-1-on-gce-debian-jessie-instance#801259
                    <div class="form-group">
                        <label for="sliderSwlimit">Memory + Swap limit *</label>
                        <input class="form-control fix-height" pattern="[0-9]+" type="range" id="sliderSwlimit" name="swlimit" min="32" max="{{ host.memory.total * 2 }}" value="{% if container['settings']['memory.memsw.limit_in_bytes'] %}{{ container['settings']['memory.memsw.limit_in_bytes'] }}{% else %}{{ host.memory.total * 2 }}{% endif %}" onChange="updateMemInput('inputSwlimit', this.value, {{ host.memory.total * 2 }});">
                        <label><input pattern="[0-9]+" class="input-mini{% if not container['settings']['memory.memsw.limit_in_bytes'] %} hide{% endif %} form-control" id="inputSwlimit" type="number" min="32" max="{{ host.memory.total *2 }}" value="{% if container['settings']['memory.memsw.limit_in_bytes'] %}{{ container['settings']['memory.memsw.limit_in_bytes'] }}{% endif %}" onChange="updateMemSlider('sliderSwlimit', this.value);"><span class="help-inline fix-height">{% if container['settings']['memory.memsw.limit_in_bytes'] %}MB{% else %}Unlimited{% endif %}</span></label>
                    </div>
                        #}
                    <div class="form-group">
                        <label for="inputCPUs">CPUs **</label>
                        <input class="form-control" pattern="{{ regex.cpus }}" type="text" id="inputCPUs" name="cgroup.cpuset.cpus" value="{{ container['settings']['cgroup.cpuset.cpus'][0]  }}" placeholder="All">
                        <span class="help-inline"><small>(e.g 0 or 0-1,3 or 0,3)</small></span>
                    </div>
                    <div class="form-group">
                        <label for="inputCPUShares">CPU Shares **</label>
                        <input class="form-control" pattern="{{ regex.shares }}" type="number" id="inputCPUShares" name="cgroup.cpuset.cpus" min="16" step="2" value="{{ container['settings']['cgroup.cpuset.shares'] }}" placeholder="1024">
                    </div>
                    <div class="form-group">
                        <label for="inputRootfs">Root FS</label>
                        <input class="form-control" pattern="{{ regex.rootfs }}" type="text" id="inputRootfs" name="rootfs" value="{{ container['settings']['rootfs'] }}">
                        <span class="help-inline"><small>(e.g {{container.settings.rootfs}})</small></span>
                    </div>
                </div>
                {% include 'includes/edit_apply_btn.html' %}
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="logging" role="tabpanel" aria-labelledby="logging-tab">
            <div class="card">
                <div class="card-header"><h3>Logging</h3></div>
                <form ic-post-to="{{ url_for('containers.edit', container_name=container.name) }}" ic-select-from-response="#main-content" ic-target="#main-content" ic-target-replace="true">
                <div class="card-body">
                    <div class="form-group">
                        <label for="loglevel">Log level</label>
                        <select class="form-control" type="text" id="loglevel" name="loglevel">
                            <option value="NOTSET" {% if container.settings.loglevel == 'NOTSET' %}selected{% endif %}>NOTSET</option>
                            <option value="TRACE" {% if container.settings.loglevel == 'TRACE' %}selected{% endif %}>trace</option>
                            <option value="DEBUG" {% if container.settings.loglevel == 'DEBUG' %}selected{% endif %}>debug</option>
                            <option value="INFO" {% if container.settings.loglevel == 'INFO' %}selected{% endif %}>info</option>
                            <option value="3" {% if container.settings.loglevel == '3' %}selected{% endif %}>notice</option>
                            <option value="4" {% if container.settings.loglevel == '4' %}selected{% endif %}>warn</option>
                            <option value="5" {% if container.settings.loglevel == '5' %}selected{% endif %}>error</option>
                            <option value="6" {% if container.settings.loglevel == '6' %}selected{% endif %}>critical</option>
                            <option value="7" {% if container.settings.loglevel == '7' %}selected{% endif %}>alert</option>
                            <option value="8" {% if container.settings.loglevel == '8' %}selected{% endif %}>fatal</option>
                        </select>
                        <small class="text-muted">Default log level: 5 - error</small>
                    </div>
                    <div class="form-group">
                        <label for="logfile">Log file</label>
                        <input class="form-control" type="text" pattern="{{ regex.logfile }}" id="logfile" name="logfile" value="{{  container.settings.logfile }}">
                        <small class="text-muted"></small>
                    </div>
                </div>
                {% include 'includes/edit_apply_btn.html' %}
                </form>
            </div>
        </div>
        {#</form>#}
        <div class="tab-pane fade" id="snapshots" role="tabpanel" aria-labelledby="snapshots-tab">
            <div class="card">
                <div class="card-body">
                    {% if container.state == 'STOPPED' %}
                    <input id="name-{{container.name}}" name="name" value="{{container.name}}" type="hidden">
                    <a id="create-snapshot" class="btn btn-outline-primary" ic-replace-target="false" ic-include="#name-{{container.name}}" ic-select-from-response="#snapshots-table" ic-target="#snapshots-table" ic-get-from="{{url_for('containers.action', action='snapshot_create', name=container.name, from='edit') }}">
                        Create snapshot&nbsp;<i class="fa fa-spinner fa-spin ic-indicator" style="display:none"></i>
                    </a>
                    {% else %}
                        <div class="alert alert-warning">Stop container first to take snapshots.</div>
                    {% endif %}
                    
                    {% include 'snapshots.html' %}
                </div>
            </div>
        </div>

        {#
        <div class="tab-pane fade" id="misc" role="tabpanel" aria-labelledby="misc-tab">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="bucket">Bucket token</label>
                        <input class="form-control" pattern="[a-zA-Z0-9_/\-]{32}" type="text" id="bucket" name="bucket" value="{{ settings.bucket }}">
                        <span class="help-inline"><small>md5 like token of the backup bucket</small></span>
                    </div>
                </div>
            </div>
        </div>
        #}
        

<!--
    <p class="text-right">
       <button class="btn btn-primary btn-lg" name="submit" value="apply"><i class="icon-ok icon-white"></i> Apply</button>
    </p>
-->


    <p class="muted"><small>* Set to max to unset (unlimited)<br />** Leave empty to unset</small></p>


{% with container_name=container.name %}
{% include "includes/modal_clone.html" %}
{% include "includes/modal_backup.html" %}
{% endwith %}
{% endblock %}

{% macro memory_color(value) -%}{% if value != 0 %}{% if 0 <= value <= 511 %}success{% elif 512 <= value < 980 %}warning{% else %}important{% endif %}{% endif %}{%- endmacro %}
{% macro render_memory_wrapper(value) -%}
{% if value != 0 %}<span class="label label-{{ memory_color(value) }}">{{ value }} MB</span>{% endif %}
{%- endmacro %}

{% block script %}
<script type="text/javascript">
        {% if container.state != 'STOPPED' %}
            function memory_color(value){
                if(value != 0)
                    if ('0' <= value && value <= '512') return 'success';
                    else if ('512' <= value && value < '1024') return 'warning';
                    else return 'important';
            }

            function refreshMemory(container){
                $.getJSON('{{ url_for('containers.refresh_memory', name=container.name) }}', function(data) {
                    var el = $('#'+container+' span');
                    if (el.length > 0) {
                        el.text(data.memusg+' MB');
                        el[0].className = el[0].className.replace(/label\-(success|warning|important)/g,'label-'+memory_color(data.memusg));
                    }
                });
            }

            window.setInterval('refreshMemory("{{container.name}}")', 5000);
        {% endif %}

        // Network flags
        var network = $("#network");
        $(".switch-network-flags").on('switch-change', function(e, data){
            if(data.value){
                $(data.el).val('up');
                network.delay(350).slideDown();
            }
            else{
                $(data.el).val('down');
                network.delay(350).slideUp();
            }
        });

        function updateMemInput(elem, value, mem_total){
            // called to update the inputText value when slider onChange
            if (value < mem_total) {
                $('#' + elem).val(value).show().next('.help-inline').text('MB');
            }
            else {
                $('#' + elem).val(mem_total).hide().next('.help-inline').text('Unlimited');
            }
        };

        function updateMemSlider(elem, value){
            // called to update the slider value when inputText changes
            $('#' + elem).val(value);
        };
    </script>
{% endblock %}
