{% set td = {'RUNNING':'success','frozen':'info','stopped':'important'} %}
{% set tr = {'RUNNING':'success','frozen':'info','stopped':'error'} %}
{% set disabled = {'RUNNING':'success','frozen':'info','stopped':'important'} %}
{% extends "layout.html" %}
{% block title %}Overview{% endblock %}
{% block content %}
<div class="col-lg-12">
{{ super() }}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="text-primary"></h3>
                <p>CPU usage : <span id="cpu-usage" class="hide"></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" id="cpu-usage-bar"></div>
                </div>
                </p>
                <p>Memory usage : <span id="memory-usage" class="hide"></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" id="memory-usage-bar"></div>
                    <abbr title="Cached memory"><div class="bar bar-success" id="memory-cache-usage-bar"></div></abbr>
                </div>
                </p>
                <p>Disk usage : <span id="disk-usage" class="hide"></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" id="disk-usage-bar"></div>
                </div>
                </p>
                <p>Uptime : <span id="uptime" class="hide"></span></p>
            </div>
            <div class="col-lg-6 text-right">
            {% if session.su == 'Yes' %}
            <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createCT">
                 Create container
            </a>
            <hr>
            <a class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#reboot">Reboot</a>
            {% if containers != [] %}
                <a class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#copyCT">Copy container</a>
                {% if storage_repos %}
                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#backupCT"> <i class="icon-hdd icon-white"></i> Backup container</a>
                {% endif %}
            {% endif %}

            {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="card-deck" style="margin-top:60px">
    <div class="card card-border-secondary">
        <div class="card-header"><h5 class="card-title">Projects</h5></div>
        <div class="card-body">
            <p class="card-text">
                <span class="" style="font-size:3em">0</span>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                {% if session.su == 'Yes' %}
                    <a class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#createCT">
                         New Project
                    </a>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="card card-border-secondary">
        <div class="card-header"><h5 class="card-title">Containers</h5></div>
        <div class="card-body">
            <h5 class="card-title">Containers</h5>
            <p class="card-text">
                <span class="" style="font-size:3em">{{containers_all|length}}</span>
                This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            </p>
        </div>
    </div>
</div>
<div class="card card-border-secondary" style="margin-top:60px">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>release</th>
                <th>State</th>
                {#<th>Start<br> on boot</th>#}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for container in containers %}
                <tr class="{{ tr[container.state] }}">
                    <td style="width:55%">
                        <a href="{{ url_for('main.edit',container_name=container.name) }}" title="Click to edit {{container.name}}">
                            <h4>
                                {{container.name}}
                            </h4>
                            <p>{{container['settings']}}
                                {{container['settings']['utsname']}}&nbsp;
                                {% for network in container['settings']['networks'].values() %}
                                    {% if network.ipv4|length > 0 %}
                                        / {% for ip in network.ipv4 %}{{ip}}{% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </a>
                    </td>
                    <td>{{container.os_release.PRETTY_NAME}}<br>{{container['settings']['arch']}}</td>
                    <td>
                        <div  style="vertical-algin:middle;text-align:center;">
                        {% if container.state == 'RUNNING' %}
                            <i class="fas fa-circle text-success" aria-hidden="true"></i>&nbsp;
                            <br>
                            <span id="{{container.name}}">{{ render_memory_wrapper(container['runtime']['memory.usage_in_bytes'], container['runtime']['memory.limit_in_bytes']) }}</span>
                        {% elif container.state == 'FROZEN' %}
                            <i class="fas fa-pause-circle text-warning" aria-hidden="true"></i>&nbsp;
                        {% else %}
                            <i class="fas fa-stop-circle text-danger" aria-hidden="true"></i>&nbsp;
                        {% endif %}

                        </div>
                    </td>
                    {#
                    <td>
                        {% if container['settings']['start.auto'] == '1' %}
                            <i class="fa fa-check"></i>
                            {% if container.settings.start_order %} {{ container.settings.start_order }} {% endif %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    #}
                    <td>
                        <div class="btn-toolbar justify-content-between" role="toolbar">
                            <div class="btn-group btn-group-toggle">
                                {% set start_action = {'stopped':'start','frozen':'unfreeze'} %}
                                <a class="btn btn-secondary{% if container.state == 'RUNNING' %} disabled{% endif %}"{% if container.state == 'stopped' or container.state == 'frozen' %} href="{{ url_for('main.action', name=container.name, action=start_action[container.state]) }}"{% endif %}><i class="icon-play"></i> Start</a>
                                <a class="btn btn-secondary{% if container.state == 'stopped' %} disabled{% endif %}"{% if container.state == 'RUNNING' or container.state == 'frozen' %} href="{{ url_for('main.action', name=container.name, action='stop') }}"{% endif %}><i class="icon-stop"></i> Stop</a>
                                <a class="btn btn-secondary{% if container.state == 'frozen' or container.state == 'stopped' %} disabled{% endif %} hidden-phone"{% if container.state == 'RUNNING' %} href="{{ url_for('main.action', name=container.name, action='freeze') }}"{% endif %}><i class="icon-pause"></i> Freeze</a>
                                <div class="dropdown">
                                  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-h fa-2x" aria-hidden="true"></i>
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#copyCT{{container.name}}">Copy</a>
                                        <a href="#" class="dropdown-item" data-toggle="modal" data-target="#backupCT{{container.name}}">Backup</a>
                                        <a href="#" class="dropdown-item" data-container-name="{{container.name}}">Snapshot</a>
                                        <a href="#" class="dropdown-item text-danger destroy" {% if session.su == 'Yes' and container.state == 'stopped' %}data-container-name="{{container.name}}"{% endif %}>
                                        Destroy
                                        </a>
                                  </div>

                            </div>
                            </div>
                        </div>
                        {% with container_name=container.name %}
                        {% include "includes/modal_clone.html" %}
                        {% include "includes/modal_backup.html" %}
                        {% endwith %}
                    </td>
                    </tr>            
        {% endfor %}
        </tbody>
    </table>
</div>
{% if session.su == 'Yes' %}
    {% include "includes/modal_reboot.html" %}
    {% include "includes/modal_create.html" %}

    {% if containers|length > 0 %}
        {% include "includes/modal_clone.html" %}
        {% include "includes/modal_backup.html" %}
        {% include "includes/modal_destroy.html" %}
    {% endif %}
{% endif %}

{% endblock %}

{% macro memory_color(value) -%}{% if value != 0 %}{% if 0 <= value <= 511 %}success{% elif 512 <= value < 980 %}warning{% else %}important{% endif %}{% endif %}{%- endmacro %}
{% macro render_memory_wrapper(value, limit) -%}
    {% if value != 0 %}
        <span class="badge badge-{{ memory_color(value) }}">{{ value }}{% if limit != '' %} / {{ limit }}{% endif %} MB</span>
    {% else %}
        <span class="badge badge-success"></span>
    {% endif %}
{%- endmacro %}

{% block script %}
<script type="text/javascript">

   
            function refreshMemoryHost(){
                $.getJSON('{{ url_for('main.refresh_memory_containers', name='host') }}', function(data) {
                    $('#memory-usage').text(data.used +' / '+ data.total +' MB').fadeIn();
                    $('#memory-usage-bar').css({'width':data.percent+'%'});
                    $('#memory-cache-usage-bar').css({'width':data.percent_cached+'%'});

                    refreshMemoryContainers()
                });
            }

            function refreshMemoryContainers(){
                $.getJSON('{{ url_for('main.refresh_memory_containers', name='containers') }}', function(data) {
                    data = data.data;
                    for (i in data) {
                        var el = $('#'+data[i].name+' span');
                        if (data[i].settings.memlimit == '') {
                            el.text(data[i].memusg + ' MB');
                        } else {
                            el.text(data[i].memusg + " / " + data[i].settings.memlimit + ' MB');
                        }
                        el[0].className = el[0].className.replace(/label\-(success|warning|danger)/g,'badge-'+memory_color(data[i].memusg, data[i].settings.memlimit));
                    }
                });

                $('#home-load').fadeOut();
            }

            function memory_color(value, total){
                if(total == '') {
                    if(value != 0)
                        if ('0' <= value && value <= '512')
                            return 'success';
                        else if ('512' <= value && value < '1024')
                            return 'warning';
                        else
                            return 'danger';
                }
                else {
                    value = value / total;
                    if (0 <= value && value <= 0.6)
                         return 'success';
                    else if (0.6 <= value && value < 0.8)
                        return 'warning';
                    else
                        return 'danger';
                }
            }

            function refresh(){
                $('#home-load').fadeIn();

                $.getJSON('{{ url_for('main.refresh_info') }}', function(data) {
                    $('#uptime').text(data.uptime.day +' day(s) '+ data.uptime.time).fadeIn();

                    $('#cpu-usage').text(data.cpu +'%').fadeIn();
                    $('#cpu-usage-bar').css({'width':data.cpu + '%'});

                    $('#disk-usage').text(data.disk.used +' ('+ data.disk.free +' free)').fadeIn();
                    $('#disk-usage-bar').css({'width':data.disk.percent});

                    refreshMemoryHost()
                });
            }

            $(function() {
                refresh();
                {% if session.su == 'Yes' and containers == [] %}$('#createCT').modal('show'){% endif %}
                window.setInterval('refresh()', 15000);
            });

            {% if session.su == 'Yes' %}$(document).ready(function(){

                $(".destroy").on('click',function(e){
                    $(".destroy-link").attr('href',"{{url_for('main.action', action='destroy') }}" + "&name=" + $(this).data('container-name'));
                    $('.modal-body #destroy-container-name').text($(this).data('container-name'));
                    $('#destroy').modal('show');
                });
                // Create CT
                $('#advancedcreate').click(function(e){ e.preventDefault(); $('#advancedcreatediv').slideToggle(); });

                // Copy CT
                $('#advancedcopy').click(function(e){ e.preventDefault(); $('#advancedcopydiv').slideToggle(); });

                $(".backingstore").on('change',function(){
                        var _val = $(this).val();
                        var _lvm = $(this).closest('.advanced-wrapper').find('.lvm');
                        var _zfs = $(this).closest('.advanced-wrapper').find('.zfs');
                        var _directory = $(this).closest('.advanced-wrapper').find('.directory');
                        if( _val == 'lvm'){
                            _lvm.removeClass("d-none");
                            _directory.addClass("d-none");
                            _zfs.addClass("d-none");
                        }
                        else if ( _val == 'directory' ){
                            _directory.removeClass("d-none");
                            _lvm.addClass("d-none");
                            _zfs.addClass("d-none");
                        }
                        else if ( _val == 'zfs'){
                            _zfs.removeClass("d-none");
                            _lvm.addClass("d-none");
                            _directory.addClass("d-none");
                        }
                        else{
                            _zfs.addClass("d-none");
                            _directory.addClass("d-none");
                            _lvm.addClass("d-none");
                        }
                    });

                    $('.modalbutton').on('click', function () {
                        $('.buttons-modal-footer').addClass("d-none");
                        $('.loader-modal-footer').removeClass("d-none");
                    })
            });{% endif %}
</script>

{% endblock %}
