<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Gantry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    {#<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/cosmo/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-toggle.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/application.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
</head>

<body style="background-color:#fff;">
    
    <div id="wrapper" class="toggled">
        {% block inner_body %}
        {% if session.logged_in %}
            <div id="sidebar-wrapper" class="bg-primary text-white">
                {% include "includes/aside.html" %}
            </div>
        {% endif %}
        <div id="page-content-wrapper">
            {% if session.logged_in %}
                {% include "includes/nav.html" %}
            {% endif %}
            <div class="container" style="padding-top:40px">
                <div class="row" id="main-content">
                    {% block content %}
                    {% endblock %}
                    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/jquery.bootstrap-growl.min.js') }}"></script>
                    <script src="{{ url_for('static', filename='js/intercooler-1.2.1.min.js') }}"></script>
                    <script>
                        $(function() {
                            //$(".alert").not('.dont-hide').alert().delay(5000).slideUp();
                            $("#home-btn").on('click',function(){
                                    $('#home-load').fadeIn();
                            });
                        });
                        $("#menu-toggle").click(function(e) {
                            e.preventDefault();
                            $("#wrapper").toggleClass("toggled");
                        });
                    </script>
                    {% include "includes/flash_messages.html" %}
                </div>
            </div>
        </div>

        {% block script %}{% endblock %}
    {% endblock %}
    </div>
</body>
</html>
