{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="col-lg-12">
    <div class="card">
        {{ super() }}
        <div class="card-header">
            <a class="float-right btn btn-primary" data-toggle="modal" data-target="#newUser">Create</a>
            <h2>Users</h2>
        </div>
        <div class="card-body text-center">
            <div class="card-text">
                <p>Manage users allowed to acces LWP panel. API access is independent, <a href="{{ url_for('main.lwp_tokens') }}">check here</a>.</p>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>User</th>
                <th>Su</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td style="width:100%">
                    #{{user.id}}<br>
                    {{user.name}}
                    {{ user.username }}
                </td>
                <td>{{ user.su }}</td>
                <td>
                    <a class="btn btn-secondary" data-toggle="collapse" href="#collapseEdit{{user.id}}" role="button" aria-expanded="false" aria-controls="collapseEdit{{user.id}}">
                        Edit
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="border:0px;padding:none;">
                    <div class="collapse" id="collapseEdit{{user.id}}">
                        <a type="button" class="btn btn-danger delete float-right{% if (su_users|length < 2 and user.su == 'Yes') or users|length <= 1 %} disabled{% endif %}" data-userid="{{ user.id }}" data-username="{{ user.username }}">Delete
                        </a>
                        <form method="post" id="editUser">
                            <input type="hidden" name="id" value="{{ user.id }}">
                            <input type="hidden" name="username" value="{{ user.username }}">
                            <label for="name">Name</label>
                            <input class="form-control" type="text" name="name" value="{{ user.name }}" pattern="[a-z A-Z0-9]{3,32}" placeholder="Name">

                            <label for="su">Is superuser</label>
                                <input type="checkbox" name="su" value="Yes"{% if user.su == 'Yes' %} checked{% endif %}{% if (su_users|length < 2) %} disabled {% endif %}>
                            
                            <label for="password1">Password</label>
                            <input class="form-control" type="password" name="password1" id="password1-{{ user.id }}" placeholder="Password">
                            <input class="form-control" type="password" name="password2" placeholder="Re-type">
                            <input type="hidden" name="newUser" value="False">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include "includes/modal_new_user.html" %}
{% if users|length > 1 %}{% include "includes/modal_delete.html" %}{% endif %}
{% endblock %}
{% block script %}
    {% if users|length > 1 %}
        <script type="text/javascript">
            var token = '{{ session.token }}';
            $(document).ready(function(){
                $(".delete").not('.disabled').on('click',function(e){
                    var _this = $(this);
                    $(".delete-link").attr('href',"{{ url_for('main.lwp_users') }}?token=" + token + "&username=" + _this.data('username') + "&trash=1&userid=" + _this.data('userid'));
                    $('#delete').modal('show');
                });
            });
        </script>
    {% endif %}
{% endblock %}
