{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="col-lg-6 col-offset-4">
    {{ super() }}
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">LXC Web Panel</h5>
            <form action="{{ url_for('auth.login') }}" method="POST" class="form-signin" name="form-signin">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input class="form-control" id="inputUsername" type="text" placeholder="Username" name="username" autofocus required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                            </div>
                            <input class="form-control" id="inputPassword" type="password" placeholder="Password" name="password" required>
                        </div>
                    </div>
                    {% if auth == 'ldap' %}
                    <p class="text-warning">Note: This system is using LDAP authentication.</p>
                    {% endif %}
                    <div class="form-group">
                        <input id="inputURL" type="hidden" name="url" value="{{ request.path }}">
                        <button type="submit" class="btn btn-lg btn-primary">Log in</button>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
