<form method="post">
    <div class="card-deck">
    {% for container in containers %}
          <div class="card mb-3">
              {#
            <img class="card-img-top" src="..." alt="Card image cap">
                  #}
            <div class="card-body">
                
                <h3 class="card-title form-group">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="check{{container.name}}" name="container-{{loop.index}}" value="{{container.name}}" type="checkbox" {% for c in project.containers %}{% if c.name == container.name %}checked{% endif %}{% endfor %}>
                        <label class="custom-control-label" for="check{{container.name}}">{{container.name}}</label>
                    </div>
                </h3>
                <p class="card-text">
                    {{container.os_release.PRETTY_NAME}} {{container['settings']['arch']}}
                </p>
            </div>
          </div>
        {% if loop.index is divisibleby(3) %}
        </div><div class="card-deck">
        {% endif %}
    {% endfor %}
    </div>
    <button type="submit">Guardar</button>
</form>
