<div class="text-center sidebar-brand" style="padding-top:2em;padding-bottom:1em;margin-bottom:1em">
    <a class="bg-primary text-white" href="{{ url_for('dashboard.home') }}">
        <i class="fas fa-ship fa-6x"></i><br>
        <span>LWP</span>
    </a>
</div>
<div class="list-group">
    <a href="{{ url_for('dashboard.home') }}" id="home-btn" class="text-center bg-primary text-white list-group-item list-group-item-action{% if request.url_rule.endpoint=="main.home" %}active{% endif %}"><i class="fas fa-tachometer-alt fa-2x"></i><br>Dashboard</a>
    
    <a href="{{ url_for('projects.index') }}" id="proj-btn" class="text-center bg-primary text-white list-group-item list-group-item-action{% if request.url_rule.endpoint=="projects.index" %}active{% endif %}"><i class="fas fa-vial fa-2x"></i><br>Projects</a>
    
    <a href="{{ url_for('containers.index') }}" id="cont-btn" class="text-center bg-primary text-white list-group-item list-group-item-action{% if request.url_rule.endpoint=="containers.index" %}active{% endif %}"><i class="fas fa-server fa-2x"></i><br>Containers</a>
{#
{% if containers != [] %}
    {% for c in containers %}
    <a href="{{ url_for('containers.edit',container=c) }}" class="list-group-item list-group-item-action {% if request.endpoint=="containers.edit" and container==c %}active{% endif %}"><i class="fa fa-hdd-o" aria-hidden="true"></i> {{c}}</a>
    {% endfor %}
{% endif %}
{% if session.su == 'Yes' %}
    <span class="list-group-item">LXC Settings</span>
    <a href="{{ url_for('main.lxc_net') }}" class="list-group-item list-group-item-action{% if request.url_rule.endpoint=="main.lxc_net" %} active{% endif %}"><i class="icon-globe"></i> Networking</a>
    <a href="{{ url_for('main.lwp_tokens') }}" class="list-group-item{% if request.url_rule.endpoint=="main.lwp_tokens" %} active{% endif %}"><i class="icon-lock"></i> API tokens</a>
    <a href="{{ url_for('main.checkconfig') }}" class="list-group-item{% if request.url_rule.endpoint=="main.checkconfig" %} active{% endif %}"><i class="icon-check"></i> Check config</a>
{% endif %}
    <span class="list-group-item list-group-item-action active">LXC Web Panel</span>
    {% if session.su == 'Yes' and auth != 'ldap' %}
    <a href="{{ url_for('main.lwp_users') }}" class="list-group-item list-group-item-action{% if request.url_rule.endpoint=="main.lwp_users" %} active{% endif %}"><i class="icon-user"></i> Users</a>
    {% endif %}
    <a href="{{ url_for('main.about') }}" class="list-group-item list-group-item-action{% if request.url_rule.endpoint=="main.about" %} active{% endif %}"><i class="icon-info-sign"></i> About</a>
#}

</div>
<div class="list-group" style="padding-top:2em;">
    <a href="{{ url_for('main.lwp_users') }}" id="users-btn" class="text-center bg-primary text-white list-group-item list-group-item-action{% if request.url_rule.endpoint=="main.lwp_users" %}active{% endif %}"><i class="fas fa-user fa-2x"></i><br>Users</a>
    <a href="{{ url_for('main.lwp_tokens') }}" id="tokens-btn" class="text-center bg-primary text-white list-group-item list-group-item-action{% if request.url_rule.endpoint=="main.lwp_tokens" %}active{% endif %}"><i class="fas fa-ticket-alt fa-2x"></i><br>Tokens</a>
    <a href="{{ url_for('main.lxc_net') }}" id="checks-btn" class="text-center bg-primary text-white list-group-item list-group-item-action{% if request.url_rule.endpoint=="main.lxc_net" %}active{% endif %}"><i class="fas fa-exchange-alt fa-2x"></i><br>Network</a>
    <a href="{{ url_for('main.checkconfig') }}" id="checks-btn" class="text-center bg-primary text-white list-group-item list-group-item-action{% if request.url_rule.endpoint=="main.home" %}active{% endif %}"><i class="fas fa-heartbeat fa-2x"></i><br>Checks</a>
</div>
<p class="muted credit"><small class="easteregg">LXC Web Panel &copy; 2018{% if 'logged_in' in session %} - <a href="{{ url_for('main.about') }}" class="muted">MIT License</a>{% endif %}</small></p>
