<div class="list-group">
    <a href="{{ url_for('main.home') }}" id="home-btn" class="list-group-item list-group-item-action{% if request.url_rule.endpoint=="main.home" %}active{% endif %}"><i class="fa fa-home"></i> Dashboard<i class="icon-refresh hide" id="home-load" style="float:right;margin-top:3px;"></i></a>
{% if containers != [] %}
    {% for c in containers %}
    <a href="{{ url_for('main.edit',container=c) }}" class="list-group-item list-group-item-action {% if request.endpoint=="main.edit" and container==c %}active{% endif %}"><i class="fa fa-hdd-o" aria-hidden="true"></i> {{c}}</a>
    {% endfor %}
{% endif %}
{#
{% if session.su == 'Yes' %}
    <span class="list-group-item">LXC Settings</span>
    <a href="{{ url_for('main.lxc_net') }}" class="list-group-item list-group-item-action{% if request.url_rule.endpoint=="main.lxc_net" %} active{% endif %}"><i class="icon-globe"></i> Networking</a>
    <a href="{{ url_for('main.lwp_tokens') }}" class="list-group-item{% if request.url_rule.endpoint=="main.lwp_tokens" %} active{% endif %}"><i class="icon-lock"></i> API tokens</a>
    <a href="{{ url_for('main.checkconfig') }}" class="list-group-item{% if request.url_rule.endpoint=="main.checkconfig" %} active{% endif %}"><i class="icon-check"></i> Check config</a>
{% endif %}
    <span class="list-group-item list-group-item-action active">LXC Web Panel</span>
    {% if session.su == 'Yes' and auth != 'ldap' %}
    <a href="{{ url_for('main.lwp_users') }}" class="list-group-item list-group-item-action{% if request.url_rule.endpoint=="main.lwp_users" %} active{% endif %}"><i class="icon-user"></i> Users</a>
    {% endif %}
    <a href="{{ url_for('main.about') }}" class="list-group-item list-group-item-action{% if request.url_rule.endpoint=="main.about" %} active{% endif %}"><i class="icon-info-sign"></i> About</a>
#}

</div>

<p class="muted credit"><small class="easteregg">LXC Web Panel &copy; 2018{% if 'logged_in' in session %} - <a href="{{ url_for('main.about') }}" class="muted">MIT License</a>{% endif %}</small></p>
