<div id="createCT" class="modal" tabindex="-1" role="dialog" aria-labelledby="createCTLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <form method="post" action="{{ url_for('containers.create') }}" name="create_container">
        <div class="modal-header">
            <h3 class="modal-title" id="createCTLabel">Create container</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <input class="form-control  form-control-lg" id="inputName" type="text" pattern="^\w[\w.-]+$" placeholder="Name" name="name">
            </div>
            <div class="form-group">
                <select class="form-control  form-control-lg" id="selectTemplate" name="template">
                    {% for template in templates %}<option value="{{ template }}" {% if template == 'ubuntu' %}selected{% endif %}>{{ template }}</option>{% endfor %}
                </select>
            </div>
            <span class="btn btn-link" data-toggle="collapse" href="#advancedcreatediv" role="button" aria-expanded="false" aria-controls="advancedcreatediv">Advanced options</span>
            <div id="advancedcreatediv" class="collapse advanced-wrapper">
                <br />
                <div class="form-group">
                    <label for="inputCommand">LXC Container configuration</label>
                    <input class="form-control" type="text" id="inputCommand" name="command" placeholder="Container command">
                </div>
                <div class="form-group">
                    <label for="backingstorecreate">Backing store*</label>
                    <select class="form-control backingstore" id="backingstorecreate" name="backingstore">
                        <option value="default" selected>Default</option>
                        <option value="directory">Directory</option>
                        <option value="btrfs">BTRFS</option>
                        <option value="lvm">LVM</option>
                        <option value="zfs">ZFS</option>
                    </select>
                    <span class="help-inline"><small>*By default it is 'none', which is a simple directory tree under /var/lib/lxc/&lt;name&gt;/rootfs</small></span>
                </div>
                <div class="form-group d-none directory">
                    <label for="inputDirectory">Directory</label>
                    <input class="form-control" type="text" id="inputDirectory" name="dir" placeholder="Directory">
                </div>
                <div class="form-group d-none lvm">
                    <label for="inputLV">LV Name</label>
                    <input class="form-control" type="text" id="inputLV" name="lvname" placeholder="LV Name">
                    <label for="inputVG">VG Name</label>
                    <input class="form-control" type="text" id="inputVG" name="vgname" placeholder="VG Name">
                    <label for="inputFS">File system</label>
                    <input class="form-control" type="text" id="inputFS" name="fstype" placeholder="ext4">
                    <label for="inputFSSize">Size</label>
                    <input class="form-control" type="text" id="inputFSSize" name="fssize" placeholder="500M">
                </div>
                <div class="form-group d-none zfs">
                    <label for="inputZFS">zpool Name</label>
                    <input class="form-control" type="text" id="inputZFS" name="zpoolname" placeholder="lxc">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="buttons-modal-footer">
                {% include 'includes/modal_cancel_btn.html' %}
                <button type="submit" class="btn btn-success modalbutton"><i class="icon-plus-sign icon-white"></i> Create</button>
            </div>
            {% include 'includes/spinner.html' %}
        </div>
    </form>
    </div>
    </div>
</div>
