<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><i class="fas fa-thumbtack"></i></a>
<!--
    <a class="navbar-brand" href="{{ url_for('main.home') }}"><span class="text-muted">LWP |</span> {{ host }} ({{ dist }})</a>
-->
<!--
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {#
        <ul class="navbar-nav">
            {% if containers != [] %}
            <li class="nav-item dropdown">
                <a id="containers" class="nav-link dropdown-toggle" data-toggle="dropdown"> Containers</a>
                
                <div class="dropdown-menu" aria-labelledby="containers">
                    {% for c in containers %}
                    <a class="dropdown-item {% if request.endpoint=="main.edit" and container==c %} active{% endif %}" href="{{ url_for('main.edit',container=c) }}">
                    <i class="icon-hdd icon-white"></i> {{c}}</a>
                    {% endfor %}
                </div>
            </li>
            {% endif %}
            {% if session.su == 'Yes' %}
            <li class="nav-item dropdown">
                <a id="settings" class="nav-link dropdown-toggle" data-toggle="dropdown">LXC Settings</a>
                <div class="dropdown-menu" aria-labelledby="settings">
                    <a class="dropdown-item" href="{{ url_for('main.lxc_net') }}" {% if request.url_rule.endpoint=="main.lxc_net" %} class="active"{% endif %}><i class="icon-globe icon-white"></i> Networking</a>
                    <a class="dropdown-item" href="{{ url_for('main.lwp_tokens') }}" {% if request.url_rule.endpoint=="main.lwp_tokens" %} class="active"{% endif %}><i class="icon-lock icon-white"></i> API tokens</a>
                    <a class="dropdown-item" href="{{ url_for('main.checkconfig') }}" {% if request.url_rule.endpoint=="main.checkconfig" %} class="active"{% endif %}><i class="icon-check icon-white"></i> Check config</a>
                    <a class="dropdown-item" href="{{ url_for('main.lwp_users') }}"><i class="icon-user icon-white"></i> Users</a>
                </div>
            </li>
            {% endif %}
        </ul>
        #}
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a id="user" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>

                    {% if session.name and session.name != 'None' %}{{ session.name }}{% else %}{{ session.username }}{% endif %}</a>
                <div class="dropdown-menu" aria-labelledby="user">
                    <a href="{{ url_for('auth.logout') }}" class="dropdown-item">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </div>
            </li>
        </ul>
    </div>
</nav>
